---
layout: default
---
<article>
  <header>
	<hgroup>
	  {% if page.indeximage %}<img src="{{ site.url }}{{ site.baseurl}}/indeximages/{{ page.indeximage }}">{% endif %}
	  <h1 class="itemtitle">{{ page.title }}</h1>
      <h2 class="itemdate">{{ page.date | date_to_string }}</h2>
	</hgroup>
  </header>
  <summary>
	{{ page.summary }}
</summary>
<bodytext>
  {{ content }}
<footer>
  <p>
<h1>Possibly related posts:</h1>
  	  {% for rel in  site.related_posts limit:5 %}
<reftitle><a href="{{ rel.url }}">{{ rel.title }} </a>
	  {% if true and rel.indeximage %}
<img src="{{ site.url }}{{ site.baseurl}}/indeximages/{{ rel.indeximage }}">
{% endif %}
      <h2 class="itemdate">{{ rel.date | date_to_string }}</h2>
</reftitle>
{% endfor %}

  </p>


  <div id="disqus_thread"></div>
<script>

var disqus_config = function () {
    this.page.url = '{{site.url}}{{page.url}}';  
    this.page.identifier = '{{ page.comment_id }}'; 
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://pragtich.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </a>
</footer>
</article>
